<div class="containerBD">
    <div class="ls">
      <p class="tit">Liste De Matiere</p>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modify">Ajouter</button>
    </div>
    

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>matier</th>
            <th>NOM Profs</th>
            <th>Heurs </th>
            <th>action</th>
        </tr>
       </thead>
       <tbody > 
      <tr *ngFor="let cls of classes | paginate: { itemsPerPage: 5, currentPage: pages }">
        <td>{{cls.matier}}</td>
        <td><span><img class="image_user" src="..\..\..\..\assets\imanges\Avatar.png" alt="metronic"></span>{{cls.firstName}}</td>
        <td>{{cls.heur}}</td>
        <td><button class="bt1" (click)="updateForm(cls)"><img  src="..\..\..\..\assets\svg\Frame 52787.svg" alt="metronic"></button>
          <button class="bt2" (click)="delete(cls)"><img  src="..\..\..\..\assets\svg\🦆 icon _trash_.svg" alt="metronic"></button></td>
      </tr>
      
      </tbody>
    </table>
    <div class="pagination ">
      <pagination-controls (pageChange)="pages = $event" ></pagination-controls>
    </div>
   

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">
        <p class="pI" *ngIf="!showText">Ajouter un nouveau Matiere</p>
        <p class="pI" *ngIf="showText">Modifier  Le matier</p>
        <form [formGroup]="profForm" (submit)="submitForm()">
          <div class="mb-3">
            <label for="name" class="form-label">MATIER</label>
            <input type="text" class="form-control" formControlName="matier">
            <span
            *ngIf="profForm.controls['matier'].invalid && (profForm.controls['matier'].dirty || profForm.controls['matier'].touched)">
            <span class="text-danger" *ngIf="profForm.controls?.['matier']?.errors?.['required']">required
            </span>
            </span>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">NOM PROFS</label>
            <input type="text" class="form-control" formControlName="firstName">
            <span
            *ngIf="profForm.controls['firstName'].invalid && (profForm.controls['firstName'].dirty || profForm.controls['firstName'].touched)">
            <span class="text-danger" *ngIf="profForm.controls?.['firstName']?.errors?.['required']">required
            </span>
            </span>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">HEURS</label>
            <input type="text" class="form-control" formControlName="heur">
            <span
            *ngIf="profForm.controls['heur'].invalid && (profForm.controls['heur'].dirty || profForm.controls['heur'].touched)">
            <span class="text-danger" *ngIf="profForm.controls?.['heur']?.errors?.['required']">required
            </span>
            </span>
          </div>
          
          <button type="submit" class="btn btn-primary btnI" *ngIf="!showButton" [disabled]="profForm.invalid" >Ajouter</button>
          <button type="submit" class="btn btn-primary btnI" *ngIf="showButton" [disabled]="profForm.invalid" > Modifer</button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

