<div class="containerBD">
  <div class="pople">
    <div class="ct">
        <h5>Welcome back, Bahah</h5>
        <p class="pg">This is a demo project to practice on what we have learned in the Front end workshop with Angular</p>
    </div>
    <span><img class="ts" src="..\..\..\..\assets\svg\Teacher and student.svg" alt="metronic"></span>
</div>
<p class="tit">liste de dernier etudiant inscrit</p>

<div class="Tstyle shadow-lg">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Nom</th>
            <th>numéro de Téléphone</th>
            <th>adresse</th>
            <th>émail</th>
            <th>action</th>
        </tr>
       </thead>
       <tbody > 
      <tr>
        <td> <span><img class="image_user" src="..\..\..\..\assets\imanges\Avatar.png" alt="metronic"></span>Bahah</td>
        <td>41168885</td>
        <td>Lksar</td>
        <td>bahah@gmail.com</td>
        <td><button class="bt1"><img  src="..\..\..\..\assets\svg\Frame 52787.svg" alt="metronic"></button><button class="bt2"><img  src="..\..\..\..\assets\svg\🦆 icon _trash_.svg" alt="metronic"></button></td>
      </tr>
      <tr>
        <td> <span><img class="image_user" src="..\..\..\..\assets\imanges\Avatar.png" alt="metronic"></span>Bahah</td>
        <td>41168885</td>
        <td>Lksar</td>
        <td>bahah@gmail.com</td>
        <td><button class="bt1"><img  src="..\..\..\..\assets\svg\Frame 52787.svg" alt="metronic"></button><button class="bt2"><img  src="..\..\..\..\assets\svg\🦆 icon _trash_.svg" alt="metronic"></button></td>
      </tr>
      <tr>
        <td> <span><img class="image_user" src="..\..\..\..\assets\imanges\Avatar.png" alt="metronic"></span>Bahah</td>
        <td>41168885</td>
        <td>Lksar</td>
        <td>bahah@gmail.com</td>
        <td><button class="bt1"><img  src="..\..\..\..\assets\svg\Frame 52787.svg" alt="metronic"></button><button class="bt2"><img  src="..\..\..\..\assets\svg\🦆 icon _trash_.svg" alt="metronic"></button></td>
      </tr>
      <!-- <tr>
        <td> <span><img class="image_user" src="..\..\..\..\assets\imanges\Avatar.png" alt="metronic"></span>Bahah</td>
        <td>41168885</td>
        <td>Lksar</td>
        <td>bahah@gmail.com</td>
        <td><button class="bt1"><img  src="..\..\..\..\assets\svg\Frame 52787.svg" alt="metronic"></button><button class="bt2"><img  src="..\..\..\..\assets\svg\🦆 icon _trash_.svg" alt="metronic"></button></td>
      </tr> -->
      </tbody>
    </table>
    <nav aria-label="..." >
      <ul class="pagination pagination-sm">
        <li class="page-item ">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>
        <li class="page-item active" aria-current="page">
          <span class="page-link">1</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>
</div>
